.header .glyphicon {
    color:white;
    font-size: 25px;
}
.header .ui-btn{
    padding : .3em .5em;
    background-color: transparent !important;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.header{
    margin: 0 px;
    height: 48px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    /* background-color:black; */
    background : rgba(0, 0, 0, 0.8);
}
.header #baguette-font{
	text-shadow: none !important;
	text-align: center;
	color:white;
	font-size:1.5em;
	font-weight: 600;
	font-style: italic;
	padding:8px;
}
.header #left-panel{
	padding: 6px;
}

.header #right-map{
    right: 3em;
    padding: 6px;
}

.header #right-panel{
	padding: 6px;
}

.header input{
/*    top : 10;*/
    margin-left: 25%;
    width: 50%;
}
#menuPanel{
	background : rgba(0, 0, 0, 0.8);
	text-shadow: none !important;
}

#menuPanel, .main-content{
    margin-top: 53px;
}
#menuPanel #customerID{
	height: 40px;
	border: 1px solid white;
	font-size: 1.3em;
	font-weight:400;
	text-align:center;
	background:white;
	padding:6px;
}


#menuPanel .glyphicon{
	color:white;
	font-size:17px;	
	
}

#menuPanel #storelist,#customerinfo{
	height: 50px;
	border: 2px solid white;
	border-top: none;
	font-size: 1.3em;
	font-weight:600;
	color:white;
	/* text-align: right; */
	padding: 10px;
}

#menuPanel #customertext,#storelisttext{
	padding-left: 7px;
}
.main-content{
    margin: 5px;
    padding: 0;
    margin-top: 48px;
}