html body{
    height: 100%;
}
.header{
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1000;    
}

.main-content{
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.header input{
/*    top : 10;*/
    margin-left: 25%;
    width: 50%;
}
 
.glyphicon {
    color: white;
}

.header .ui-btn{
    border: 0px red solid !important;
    margin: 0;
    font-size: 33px;
/*    height: %;*/
    padding: 0;
/*    border: */
    background-color: transparent !important;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}