html body{
    height: 100%;
}
.header{
    height: 60px;
}
.header form{
/*    top : 10;*/
    margin-left: 25%;
    width: 50%;
}

.glyphicon {
    color: white;
}

.header .ui-btn{
    border: 0px red solid !important;
    margin: 0;
    font-size: 33px;
/*    height: %;*/
    padding: 0;
/*    border: */
    background-color: transparent !important;
}