.ui-block-a {
    padding-top:4px;
    width: 100%;
    /*    padding-left: 0px;*/
    /*    padding-right: 0px;*/
    /*    border: 1px solid cornflowerblue;*/
    /*    height: ;*/
    /*    border: 2px solid #ddd;*/
}
 
.ui-block-a .figre {
    position: relative;
    padding: 0px;
    /* max-height: 370px; */
   	
    /*    height: 100px;*/
}

.ui-block-a .figre img {
    /*     사진비율 :  370*150 */
    height: auto;
    width: 100%;
}

.ui-block-a .figre .fig {
	position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 5px 5px 0px;
    color: #fff;
    text-align: right;
    font-size:100%;
    text-shadow: 1px 1px 0 #000,
			    -1px 1px 0 #000,
			    1px -1px 0 #000,
			    -1px -1px 0 #000,
			    0px 1px 0 #000,
			    0px -1px 0 #000,
			    -1px 0px 0 #000,
			    1px 0px 0 #000,
			    2px 2px 0 #000,
			    -2px 2px 0 #000,
			    2px -2px 0 #000,
			    -2px -2px 0 #000,
			    0px 2px 0 #000,
			    0px -2px 0 #000,
			    -2px 0px 0 #000,
			    2px 0px 0 #000,
			    1px 2px 0 #000,
			    -1px 2px 0 #000,
			    1px -2px 0 #000,
			    -1px -2px 0 #000,
			    2px 1px 0 #000,
			    -2px 1px 0 #000,
			    2px -1px 0 #000,
			    -2px -1px 0 #000;
}

.ui-block-a .figre .fig .address {
/*    color: white;*/
    
    font-size: 1.5em;
    text-align: right;
    margin-bottom : -5px;
}

.ui-block-a .figre .fig .name {
/*    color: white;*/
    font-size: 2em;
    text-align: right;
}

/*

sp-slide {
    height: 100px;
    width: 200px;
}
*/


/* :last-child :first-child 가상선택자*/
