<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BorderMapper">
 	
 	
	<resultMap id="borderSelectMap" type="border">
		<result property="oqty"	column="oqty" 			jdbcType="INTEGER"/>
		<result property="ono"		column="ono" 			jdbcType="INTEGER" />
		<result property="otran" 	column="otran" 		jdbcType="VARCHAR" />
		<result property="odate" 	column="odate"	 		jdbcType="DATE" />
		<result property="breadNo"	column="bno" 			jdbcType="INTEGER"/>
		<result property="customerNo" 		column="cno" 			jdbcType="INTEGER" />
		<result property="or_chk" 	column="or_chk" 			jdbcType="VARCHAR" />
	    <result property="customerTel"	column="ctel" 		jdbcType="VARCHAR" />
	   <result property="name"		column="bname" 			jdbcType="VARCHAR" />
	   <result property="price" 	column="bprice" 		jdbcType="INTEGER" />
	    <result property="img"	 	column="bimg" 			jdbcType="VARCHAR" />
	</resultMap>
	

	 <insert 	id="addBorder"		parameterType="border" >
	 	INSERT
		INTO borders( oqty , ono , otran , odate , or_chk, ctel, bname, bprice , bimg) 
		VALUES	 (	#{oqty} , #{ono} , #{otran} , #{odate} , #{breadNo} , 
							#{customerNo} , #{or_chk} , #{customerTel} , #{name], #{price}, #{img} )
	 </insert>


	 <select 	id="getBorder"	parameterType="int"	resultMap="borderSelectMap">
		SELECT
		oqty, ono, otran, odate, bno, cno, or_chk 		
		FROM border
		WHERE ono = #{value}
	 </select>
	 

	
	<select  id="getBorderList"  parameterType="int"	resultMap="borderSelectMap">
	SELECT
		oqty, bname, bprice, bimg, otran, odate
		FROM border bo, customer c, bread b
		where #{value}=bo.cno and bo.BNO=b.bno
		group by bname
	 </select>
	 
	 
</mapper>