<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BreadMapper">
 	
 	
	<resultMap id="breadSelectMap" type="bread">
		<result property="breadNo"	column="bno" 			jdbcType="INTEGER"/>
		<result property="name"		column="bname" 			jdbcType="VARCHAR" />
		<result property="price" 	column="bprice" 		jdbcType="INTEGER" />
		<result property="desc" 	column="bdesc"	 		jdbcType="CLOB" />
		<result property="img"	 	column="bimg" 			jdbcType="VARCHAR" />
		<result property="qty" 		column="bqty" 			jdbcType="INTEGER" />
		<result property="storeNo" 	column="sno" 			jdbcType="INTEGER" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<!-- <insert 	id="addUser"		parameterType="user" >
	 	INSERT
		INTO users( user_id , user_name , password , role , ssn, cell_phone, addr, email , reg_date) 
		VALUES	 (	#{userId} , #{userName} , #{password} , 'user' , #{ssn:VARCHAR} , 
							#{phone:VARCHAR} , #{addr:VARCHAR} , #{email:VARCHAR} , SYSDATE )
	 </insert>
	  -->
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getBread"	parameterType="string"	resultMap="breadSelectMap">
		SELECT
		bname, bprice, bimg 		
		FROM bread
		WHERE bno = #{value}
	 </select>
	 
	<!-- SQL : SELECT LIST -->
	<select  id="getBreadList"  parameterType="string"	resultMap="breadSelectMap">
	  	SELECT
	  	bname, bprice, bno, sno
	  	FROM bread
	  	WHERE sno = #{value}
	  	ORDER BY bno
	</select>
	
	
	 <!-- SQL : UPDATE -->
	<!--  <update	id="updateUser"	parameterType="user" >
	   	UPDATE users
	   	<set>
	   		user_name 	= #{userName} ,
			cell_phone	= #{phone},
			addr 				= #{addr} ,
			email				=	#{email}
	   	</set>
	   	WHERE user_id = #{userId}
	 </update>
		 
	SQL : SELECT LIST
	<select  id="getUserList"  parameterType="search"	resultMap="userSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT user_id , user_name , email
											FROM users
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				user_id Like '%${searchKeyword}%'
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				user_name Like '%${searchKeyword}%'
													</if>
												</where>
											</if>
											ORDER BY user_id ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 	 위 두번째 subQuery 의  
	 			WHERE ROWNUM &lt;= #{endRowNum} ) 는
	 			WHERE ROWNUM <= #{endRowNum} ) 의미이며..
	 			< 는 keyword 로 &lt; 를	사용.
	 			
	 			<![CDATA[  ~~~  ]]> 를 이용하여 아래와 같이 사용  할 수 있다.
	 			CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리  

				WHERE ROWNUM <![CDATA[ <=]]> #{endRowNum} )
		
	
	SQL : SELECT ROW Count	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT user_id , user_name , email
						FROM users
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			user_id Like '%${searchKeyword}%'
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 		user_name Like '%${searchKeyword}%'
								</if>
							</where>
						</if> ) countTable						
	 </select>
	  -->
</mapper>