<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CustomerMapper">
 	
 	
	<resultMap id="customerSelectMap" type="customer">
		<result property="customerNo" 	column="cno" 		jdbcType="INTEGER"/>
		<result property="customerTel"	column="ctel" 		jdbcType="VARCHAR" />
		<result property="password" 	column="cpwd" 		jdbcType="VARCHAR" />
		<!-- <result property="role" 				column="role" 					jdbcType="VARCHAR" />
		<result property="ssn" 				column="ssn" 					jdbcType="VARCHAR" />
		<result property="phone" 			column="cell_phone" 		jdbcType="VARCHAR" />
		<result property="addr" 				column="addr" 					jdbcType="VARCHAR" />
		<result property="email" 			column="email" 				jdbcType="NUMERIC"  />
		<result property="regDate" 		column="reg_date" 			jdbcType="DATE" /> -->
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addCustomer"		parameterType="customer" >
	 	INSERT 
	 	INTO customer(ctel, cpwd)
	 	VALUES	 (#{customerTel}, #{password})
	 </insert>

	<!-- <insert id="insertId"> 
		insert into MEMBER (MBR_ID, NAME) values 
		( #mbrId#, #name# ) 
		<selectKey keyProperty="memberSeq" resultClass="int"> 
		SELECT LAST_INSERT_ID() 
		</selectKey> 
		</insert> 
		Integer result = sqlMap.insert("insertId", member); 
		[출처] iBatis에서 insert 시 자동증가값 처리하기- MySQL버전|작성자 아찌 -->
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getCustomer"	parameterType="string"	resultMap="customerSelectMap">
		SELECT
		ctel, cpwd 		
		FROM customer
		WHERE ctel = #{value}
	 </select>
	 
	 <!-- SQL : UPDATE -->
	<!--  <update	id="updateUser"	parameterType="user" >
	   	UPDATE users
	   	<set>
	   		user_name 	= #{userName} ,
			cell_phone	= #{phone},
			addr 				= #{addr} ,
			email				=	#{email}
	   	</set>
	   	WHERE user_id = #{userId}
	 </update>
		 
	SQL : SELECT LIST
	<select  id="getUserList"  parameterType="search"	resultMap="userSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT user_id , user_name , email
											FROM users
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				user_id Like '%${searchKeyword}%'
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				user_name Like '%${searchKeyword}%'
													</if>
												</where>
											</if>
											ORDER BY user_id ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 	 위 두번째 subQuery 의  
	 			WHERE ROWNUM &lt;= #{endRowNum} ) 는
	 			WHERE ROWNUM <= #{endRowNum} ) 의미이며..
	 			< 는 keyword 로 &lt; 를	사용.
	 			
	 			<![CDATA[  ~~~  ]]> 를 이용하여 아래와 같이 사용  할 수 있다.
	 			CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리  

				WHERE ROWNUM <![CDATA[ <=]]> #{endRowNum} )
		
	
	SQL : SELECT ROW Count	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT user_id , user_name , email
						FROM users
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			user_id Like '%${searchKeyword}%'
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 		user_name Like '%${searchKeyword}%'
								</if>
							</where>
						</if> ) countTable						
	 </select>
	  -->
</mapper>